[Unit]
Description=INDIGO IAM Service
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/iam-login-service
WorkingDirectory=/etc/iam-login-service
ExecStart=/usr/bin/java $IAM_JAVA_OPTS -jar /usr/share/indigo-iam/iam-login-service.war
KillMode=process
User=iam
SyslogIdentifier=iam-login-service

[Install]
WantedBy=multi-user.target
